<table class="dtrangepicker">
    <thead>
        <tr>
            <th><a href="#" ng-click="prevMonth($event)">prev</a></th>
            <th colspan="5">{{ dt_calendar | date: 'MMMM yyyy' }}</th>
            <th><a href="#" ng-click="nextMonth($event)">next</a></th>
        </tr>
        <tr>
            <th ng-repeat="dow in dows track by $index">{{ dow }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="week in calendar track by $index">
            <!--td ng-repeat="dt in week track by $index" ng-class="{success: dt.current, active: dt.inrange}"-->
            <td ng-repeat="dt in week track by $index" ng-class="getDateClass(dt)">
                <a href="#" ng-click="select($event, dt.value);">{{ dt.value | date:'dd' }}</a>
            </td>
        </tr>
    </tbody>
</table>    
